/**
 * This file is a container for custom CSS. You can use it to override the default styles of the theme.
 *
 * 1. Copy the file "SAMPLE.custom.css" and rename it to "custom.css".
 *    Otherwise this file will not be loded by Magento.
 * 2. Enable it in the admin panel.
 * 3. Uncomment slected sample styles or add your own CSS to override the default styles of the theme.
 *
 * Please refer to the user guide for more details.
 *
 */




/*******Home Page Css Start******/

.wrapper {
    /*background-image: url("../images/main-wrapper1.jpg") !important;
    //background-position: 24% 85%;
    /*background-position: center;
    border:none;
    background-attachment: fixed;*/
    
    background-image: url("../images/main-wrapper.jpg") !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    max-width:100%;
    max-height:100%;
    width:auto;
}

.header-container3,.header-container3 a{
    color:#fff;
}

.header .caret {
    border-top-color: #fff;
    opacity:1;
}

.header-primary .inner-container{
    padding: 0px;
}

.searchautocomplete .searchautocomplete-placeholder{
    width:100%;
}

.searchautocomplete a{
    color:#333;
}

.footer-container .no-margin{
    height:36px;
    line-height:36px;
}

.footer-container{
    margin-top:200px;
}

.alignclass {
    padding-top:25%;
}

.products-grid .item:hover img{
    overflow: hidden;
    transform: scale(1.1);
    transition-duration: 750ms;
    transition-timing-function: ease-out;
}

/*******Home Page Css End******/


@media screen and (max-width: 768px){ 

    .header-mobile .header-primary{
        padding:30px 0px 0px;
    }
} 

@media screen and (max-width: 480px){ 

    .header-mobile .header-primary{
        padding:30px 0px 0px;
    }
}